body{ margin: 0; background: linear-gradient( #dfdfdf, white); }
.container{width: 100%; padding-left: 8%; padding-right: 8%; overflow: hidden; box-sizing: border-box;  }
.navbar{ width: 100%; display: flex; align-items: center;}
.logo{ width: 100px; cursor: pointer; margin: 30px 0;}
.menu{ width: 25px; cursor: pointer; display: none; }
nav{ flex: 1;text-align: right; }

nav ul li{
	margin-right: 30px; display: inline-block; list-style: none;
}
nav ul li a{ text-decoration: none;  color: white; font-size: 14; }
nav ul li:hover{background: #e66a6a;}







.Right{ 
       width: 30%;
        height: 200px;
        float: right;
        text-align: center;
        padding: 65px;}
h1{  font-family: cursive; }


.left{ float: left;
	width: 50%;
	height: 500px;
}
.left img{ height: 250px;
     background-image: "home.JPG"
     padding: 0px;
     padding-top: 57px;
         padding-left: 28%;
      }
.left img:hover{
	transform: scale(1.5,1.5);
}


 

.cls{ clear: both;}
footer{ background-color: silver;   vertical-align: center;list-style: none;}
.CopyRight{ text-align: center; padding-bottom: 30px;}
.social img{ height: 30px; margin: 20px; cursor: pointer;}
.social{ text-align: center; }



/*---------- Potfolio.Css---------- */

.portfolio{ background-color: ; padding: 1px; }
.portfolio h1{ margin-left: 256px; }
.portfolio h3{ text-align: center; }
.portfolio h4{text-align: center;}
.Images img{ margin: 40px;
    height: 500px;
    width: 1040px;
    background: aliceblue;
    border-radius: 52px;}
.Images p{ text-align: center; margin-left: 80px;
    margin-right: 80px; background-color: #b7d5de;
    padding: 20px; }  








/*---------- C V ---------*/
.cv_left{ width: 50%;  height: 500px; float: left; background-color: #69C ;}
.cv_right{ width: 50%; height: 500px; float: right; background-color: #99C; }
.cv_main{ text-align: left;margin: 10px; padding-left: 60px; padding-bottom: 50px; border-style: double ;} 




/*----------- Contact.CSS----------*/
.Form fieldset{ padding: 33px; margin: 30px; background: whitesmoke; width: 50%; }
.Form legend{ text-align: center; }
.Form div{ padding-left: 120px; }


@media only screen and (max-width: 700px){
	nav ul{ width: 100px; 
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
    background: linear-gradient( #ff54a2, #ff575a);
   }
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;

  } 
  .Right{ 
    flex-direction: column-reverse;
    margin: 50px 0;
   }
   .left{
    flex-basis: 100%;
    margin-bottom: 50px;
   }
  .menu{
    display: block;
  }
  #menulist{
    overflow: hidden;
    transition: 0.5s;
  }
  }
