/* ----------------CSS of Body for all webpage ------------------ */

body{ margin: 0; background: white;  }

/* ------------------------CSS of main for all webpage------------------------ */

main{ padding-top: 0;
    padding-left: 3%;
    max-width: 100%; }

/* --------------------CSS of Body for all header--------------------------- */

header {
  background: black;
  text-align: left;
  width: 100%;
  top: 0;
}
.logo{ width: 200px; cursor: pointer; margin: 15px;
margin-left: 0px;}

/* ------------------------------------------------------------------ */
/* Navigation Style*/
nav {
  display: flex;
  float: right;
  justify-content: right;
 
}

nav ul {
    margin: 13px;
  }

/* Navigation links*/
nav li {
  display: inline-block;
      padding: 12px;
    
}

nav a {
  padding: 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  
}

/* Navigation links hover*/
nav a:hover {
 background-color: #e66a6a;
}
.nav-toggle{color: white;
  float: right;
  border-bottom: 2px solid white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
} 
#nav-toggle{
  display: none;
}
.nav-toggle-label label {
  justify-content: flex-end;
  transition: initial;
}
.nav-toggle-label {
  background-color:black;
  height: 45px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: right;
  padding-top: 3%;
  padding-right: 27px;
  display: none;
}
.nav-toggle-label span{
  background-color: white;
  height: 3px;
  width: 80%;
  flex-direction: column;
  margin: 5px 0px;
}
.nav-toggle-label{
  display: none;
}


/* ------------------------------------------------------------------ */

/* Index.HTML CSS */
.rmain{ padding-bottom:  10%; padding-left: 0; width: 100%; height: 100%; overflow: hidden;}
.container{width: 100%; 
  padding: 0;
  }  
.left{ padding-left: 10%; text-align: center; }  
.left h1{ text-align: center; float: left; }
.left h2{ text-align: center; float: left; }
.left h3{ text-align: center; float: left; }
/* Index.HTML  Button CSS */
.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 0%;
}
 .button1 {
  background-color: #e66a6a; 
  color: black; 
  transition: all 0.5s;
  border: 14px solid #e66a6a;
  border-radius: 15px;
}

.button1:hover {
  background-color: #e66a6a;
  color: white;
  
}

.button2 {
  background-color: #008CBA; 
  color: black;
  transition: all 0.5s; 
  border: 14px solid #008CBA;
  border-radius: 15px;
}
/* Index.HTML Button Animation CSS */
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;}
.button2:hover {
  background-color: #008CBA;
  color: white;
}
.Container{
display: flex;
flex-direction: row;
}
.left{float: left;
}
.right { float: right; padding-right: 10%;}
.right img{ max-width: 100%; width: 50%; }
.right img:hover{
  transform: scale(1.5,1.5);}

/* ------------------------------------------------------------------ */

/* Max size for images*/
img{ max-width: 100%; }

/* ------------------------------------------------------------------ */

/* Style for footer */
footer{ background-color: silver;
   vertical-align: center;
   width: 100%;
   
   }
.CopyRight { text-align: center; padding-bottom: 30px;}
.social img{ height: 30px; margin: 20px; cursor: pointer;}
.social{ text-align: center; }

/* ------------------------------------------------------------------ */

/*---------- Portfolio.CSS---------- */
.portfolio main{  padding: 45px;
    margin-bottom: auto;
    margin-top: 3%;
    max-width: 100%; }

.row {
  max-width: 100%;
  margin: 8px -16px;
  padding-left: 10%;
}
.row,
.row > .column {
 margin: 3%;
 padding-top:7px ;
 padding-left: 7px;
 padding-right: 7px;
 padding-bottom: 7%;
}

.column {
  float: left;
  max-width: 100%;
  background-color: #9acaf4;
  text-align: center;
  font-size: 21px;
  font-family: cursive;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}
.content img{
  max-height: 100px;
}

/* ------------------------------------------------------------------ */

/*---------- C V ---------*/
.cv_main{ text-align: left;
  margin: 10px;
 padding-left: 60px; 
 padding-bottom: 50px;
 border-style: double ;
} 
.cv_main h1{    margin-top: 23px;
    margin-bottom: -12px; max-width: 100%;}

/* ------------------------------------------------------------------ */

/*----------- Contact.CSS----------*/
.Form{ margin: 6%;
    padding-top: 0;  padding-bottom: 1%; box-sizing: border-box; }
.Form fieldset{ padding: 33px; margin: 30px; background: whitesmoke; width: 50%; margin-left: 2px; }
.Form legend{ text-align: center; }
.Form div{ padding-left: 120px; }
.Form a {background-color: #e66a6a; 
  color: black; 
  border: 14px solid #e66a6a;
  border-radius: 15px;
}
/* CSS for form text-box */
  input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}



/*----------- Site Report.CSS----------*/

.report h2{ padding-top: 1%; }

.report p{
  font-size: 18px;
  font-family: Verdana, sans-serif;
}

.report h4{
  text-align: center;
  font-family: cursive;
}
.report h5{
  text-align: center;
  font-family: cursive;
}
/* CSS for validation  images, heading and paragraph*/
.validation img{
  width: 94%;
  height: 200%;
  padding-left: 23px;
  
}

.validation h2{
  padding-left: 5%;}
.validation h3{
  text-align: center;}

.validation p{
  text-align: center;
  font-size: 18px;
  padding-left: 5%; padding: 10px;
  background: aliceblue;
}
/* CSS for validation  Class Deign*/
.Deign h3{
  text-align: center;
}
.Deign img{
  width: 94%;
  height: 200%;
  padding-left: 23px; }

.Deign p{ padding-left: 5%; padding: 10px;
  background: aliceblue;
  text-align: center;
  font-size: 18px; }
.Deign h2{
  padding-left: 5%;}

/* CSS for validation  Class ups_and_downs*/
.ups_and_downs{ padding-right: 7%; }
.ups_and_downs h3{
  background: #b6c8e7;
    padding-left: 5%;
    padding: 3%;
    margin: 0px;}
.ups_and_downs h4{
  padding-left: 7%;
  padding-right: 7%;
  background-color:#ffcccc; 
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0;
}
.ups_and_downs ul{ margin: 0; padding: 0; list-style: inside; }
.ups_and_downs li{
  padding-left: 7%;
  padding-right: 7%;
  background-color:#ffcccc; 
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0;
}
.ups_and_downs p{
  padding-left: 7%;
  padding-right: 7%;
  background-color:#ffcccc; 
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0;
}




/* Media Quarry for Screen Size 1000px*/
@media screen and (max-width: 1000px)
{

  header {
  background: black;
  text-align: left;
  width: 100%;
  
 
}
.logo{ max-width: 100%; cursor: pointer; margin: 15px;
margin-left: 0px;}

  nav{ background-color: black;
    flex-direction: column;
    width: 100%;
    padding: 0;
    display: none;

}

nav ul {
  background: linear-gradient(black, #929292);
  padding: 0;
  flex-direction: column;
  width: 100%;
    margin: 0;
    background-color: black;
    display: inline-flex;
  }

/* Navigation links*/
nav li {
  padding: 12px;
    
}

nav a {text-align: right;
  padding: 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}

/* Navigation links hover*/
nav a:hover {
 background-color: #e66a6a;
} 
.nav-toggle-label label {
  justify-content: flex-end;
  display: flex;
}
.nav-toggle{color: white;
  float: right;
  color: white;
  border-bottom: 2px solid white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;

} 
#nav-toggle:checked + nav{
  display: flex; 
}
.nav-toggle-label {
  background-color:black;
  height: 45px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: right;
  padding-top: 3%;
  padding-right: 15px;
   
}
  .container{width: 100%; 
    height: 100%;
    overflow: hidden;

  padding-bottom: 35%; 
  }
  footer{
    max-width: 100%;
  }

}
/* Media quary for Index.html  */
@media screen and (max-width: 900px)
{
.rmain{ padding-bottom:  10%; 
  padding-left: 0; width: 100%;
   height: 100%; 
   overflow: hidden;
}
.container{width: 100%; 
  padding: 0;
  }  
.right { float: right;
 padding-right: 10%;
}
.right img{ max-width: 100%;
 width: 50%;
  padding-top: 10%;
   }
.right img:hover{
  transform: scale(1.2,1.2);}
}



/*----------- END----Of----CSS ----------*/