body{ margin: 0; background: white; }
.container{width: 100%; padding-left: 8%; padding-right: 8%; overflow: hidden; box-sizing: border-box;  }
.navbar{ width: 100%; display: flex; align-items: center; background-color: aquamarine;}
.logo{ width: 200px; cursor: pointer; margin: 30 0;}
.menu{ width: 25px; cursor: pointer; display: none; }
header {
  background:black;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}
/* Navigatin Style*/
nav {
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  background:gray;
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  
}

nav a:hover {
 background-color: #e66a6a;
} 

.nav-toggle:checked ~ nav{
 transform: scale(1,1) ;
}
.nav-toggle{
  display: none;
}

.nav-toggle-label{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
.nav-toggle-label span::before{
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
} 

.nav-toggle:checked ~ nav a{
  opacity: 1;
 transition: opacity 250ms ease-in-out 250ms;
}


/* Content */
.Right{ 
       width: 30%;
        height: 200px;
        float: right;
        text-align: center;
        padding: 65px;}
h1{  font-family: cursive; }


.left{ float: left;
	width: 50%;
	height: 500px;
}
.left img{ height: 250px;
     background-image: "home.JPG"
     padding: 0px;
     padding-top: 57px;
         padding-left: 28%;
      }
.left img:hover{
	transform: scale(1.5,1.5);
}


 

.cls{ clear: both;}
footer{ background-color: silver;   vertical-align: center;list-style: none;}
.CopyRight{ text-align: center; padding-bottom: 30px;}
.social img{ height: 30px; margin: 20px; cursor: pointer;}
.social{ text-align: center; }



/*---------- Potfolio.Css---------- */

.portfolio{ background-color: ; padding: 1px; }
.portfolio h1{ margin-left: 256px; }
.portfolio h3{ text-align: center; }
.portfolio h4{text-align: center;}
.Images img{ margin: 40px;
    height: 500px;
    width: 1040px;
    background: aliceblue;
    border-radius: 52px;}
.Images p{ text-align: center; margin-left: 80px;
    margin-right: 80px; background-color: #b7d5de;
    padding: 20px; }  








/*---------- C V ---------*/
.cv_left{ width: 50%;  height: 500px; float: left; background-color: #69C ;}
.cv_right{ width: 50%; height: 500px; float: right; background-color: #99C; }
.cv_main{ text-align: left;margin: 10px; padding-left: 60px; padding-bottom: 50px; border-style: double ;} 




/*----------- Contact.CSS----------*/
.Form fieldset{ padding: 33px; margin: 30px; background: whitesmoke; width: 50%; }
.Form legend{ text-align: center; }
.Form div{ padding-left: 120px; }


/* Media Quarry*/
@media screen and (min-width: 800px){
  .nav-toggle-label{
    display: none;
  }
  header{
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr);
  } 
  .logo{
    grid-column: 1;
  }

  nav{
    all: unset;
    grid-column: 3 /4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul{
    display: flex;
  }
  nav a{
    opacity: 1;
  }
  nav a::before{
    content: '';
    display: block;
    background:#e66a6a ;
    position: absolute;
  }
  nav li{
    margin-right: 3em ;
    margin-bottom: 0;
  }
  nav li a{
   text-decoration: none;  color: white; font-size: 12; color: white; display: inline-block; padding: 10px;}
  }
  }   
